.container {
  height: 300px;
  width: 770px;
  border: 1px solid whitesmoke;
  overflow-y: auto;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .images {
    display: flex;

    img {
      max-height: 230px;
    }
  }

  .changePhoto {
    position: absolute;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
